    .navbar{
      list-style: none;
      background-color: black;
      overflow: hidden;
      padding: 0;
    }

    .navbar a, .dropdown div{
      text-decoration: none;
      color: white;
      font-size: 24px;
      padding: 16px;
      display: inline-block;
    }

    .navbar li{
      float: left;
    }

    .navbar li:hover{
      background-color: purple;
    }

    .dropdown-content{
      list-style: none;
      padding: 0;
      display: none;
      position: absolute;
      z-index: 1;
    }

    .dropdown-content li{
      float:none;
      background-color: purple;
    }

    .dropdown:hover .dropdown-content{
      display: block;
    }

    .active
    {
      background-color: purple;
    }

    h1{
        font-family: Impact;
    }

    @keyframes example {
        0%   {background-color: red;}
        25%  {background-color: yellow;}
        50%  {background-color: blue;}
        75% {background-color: green;}
        100% {background-color: red;}
    }

    @keyframes reverse {
        0%   {background-color: red;}
        25%  {background-color: green;}
        50%  {background-color: blue;}
        75% {background-color: yellow;}
        100% {background-color: red;}
    }

    @keyframes flip {
        0%   {transform: rotate(0deg);}
        25%   {transform: rotate(90deg);}
        50%   {transform: rotate(180deg);}
        75%   {transform: rotate(270deg);}
        100%   {transform: rotate(360deg);}
    }

    @keyframes move {
        0%   {transform: translate(0px, 0px);}
        10%   {transform: translate(-50px, -10px);}
        20%   {transform: translate(20px, -50px);}
        30%   {transform: translate(40px, -40px);}
    }

    .hubblelink{
          color: black;
          background-color: lightblue;
          border: 2px solid black;
    }

    body{
      animation-name: example;
      animation-duration: 10s;
      animation-iteration-count: infinite;
    }