    .navbar{
      list-style: none;
      background-color: black;
      overflow: hidden;
      padding: 0;
    }

    .navbar a, .dropdown div{
      text-decoration: none;
      color: white;
      font-size: 24px;
      padding: 16px;
      display: inline-block;
    }

    .navbar li{
      float: left;
    }

    .navbar li:hover{
      background-color: purple;
    }

    .dropdown-content{
      list-style: none;
      padding: 0;
      display: none;
      position: absolute;
      z-index: 1;
    }

    .dropdown-content li{
      float:none;
      background-color: purple;
    }

    .dropdown:hover .dropdown-content{
      display: block;
    }

    .active
    {
      background-color: purple;
    }

    h1{
        font-family: Impact;
    }

    @keyframes example {
        0%   {background-color: red;}
        25%  {background-color: yellow;}
        50%  {background-color: blue;}
        75% {background-color: green;}
        100% {background-color: red;}
    }

    @keyframes reverse {
        0%   {background-color: red;}
        25%  {background-color: green;}
        50%  {background-color: blue;}
        75% {background-color: yellow;}
        100% {background-color: red;}
    }

    .hubblelink{
          color: black;
          background-color: lightblue;
          border: 2px solid black;
    }

    body{
      animation-name: example;
      animation-duration: 20s;
      animation-iteration-count: infinite;
    }